.body {
  display: flex;
  background-color: #e5e5e5;
}

.header {
  background-color: #3e3c3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 72px;
}

.container-logo {
  width: 84px;
  height: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 150px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #fff;
  margin-left: 32px;
  margin-right: 32px;
  font-size: 24px;
  width: 63px;
  height: 20px;
}

.navbar img {
  margin-right: 151px;
  height: 40px;
}

/* for-mobile-header */
.mobile-header {
  height: 92px;
  width: 375px;
  align-items: end;
  justify-content: space-between;
  background-color: #3c3a39;
  display: none;
}

.mobile-container-logo {
  padding-bottom: 12px;
  padding-left: 24px;
}

.mobile-navbar button {
  background-color: #3c3a39;
}

/* "headline-section" */

.headline-section {
  background-image: url(./images/Illustration-header.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 100%;
  background-color: #1c1a19;
  height: 870px;
  width: 1440px;
  top: 92px;
  padding-top: 120px;
  padding-bottom: 250px;
  display: flex;
}

.headline-content {
  margin-top: 240px;
  width: 566px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  height: 160px;
  width: 566px;
  left: 24px;
  top: 4780px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 566px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.headline-content p {
  margin: 0;
  color: #fff;
  width: 566px;
  height: 123px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.links-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-logos img {
  padding-left: 36px;
  padding-right: 87px;
  padding-bottom: 26px;
}

/* media-section */

@media (max-width: 768px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .headline-section {
    background-image: url(./Images/illustration-header-mobile.png);
    background-repeat: no-repeat;
    background-position: 100%, 0%;
    background-position: bottom -300px;
    height: 590px;
    width: 375px;
    top: 92px;
    padding-top: 0.1px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
  }

  .headline-content {
    /* background-position:bottom ; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
  }

  .links-logos {
    width: 250px;
    height: 30px;
    margin-top: 90px;
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    order: 1;
  }

  .links-logos img {
    height: 22px;
    width: 20px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 26px;
  }

  h1 {
    margin: 0;
    height: 124px;
    width: 327px;
    left: 24px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  .title {
    display: flex;
    align-items: center;
    color: #fff5e1;
    height: 27px;
    width: 327px;
    left: 24px;
    top: 256px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .headline-content p {
    margin-top: 12px;
    height: 123px;
    color: #fff;
    width: 400;
    font-size: 16px;
    line-height: 24px;
  }
}